<form method="POST" action="">

    <p><h4>LIST News</h4></p>
    
    <div>
        <p>Choose categories</p>
        <input type="radio" id="subscribeBusiness" name="category" value="business">
        <label for="subscribeBusiness">Business</label>
        <input type="radio" id="subscribeSports" name="category" value="sports">
        <label for="subscribeSports">Sports</label>
        <input type="radio" id="subscribeGeneral" name="category" value="general">
        <label for="subscribeGeneral">General</label>
        <input type="radio" id="subscribeEntertainment" name="category" value="entertainment">
        <label for="subscribeEntertainment">Entertainment</label>
        <input type="radio" id="subscribeHealth" name="category" value="health">
        <label for="subscribeHealth">Health</label>
    </div>
    <div>
        <p>Choose the date range</p>
        <label for="from">From</label>
        <input type="date" id="from" name="from" >
    <br>
        <label for="to">To</label>
        <input type="date" id="to" name="to" >
        
    </div>
    <div>
        <button type="submit">FETCH</button>
    </div>
    

</form>